<html>
	<head>
		<title>IITK Bazaar</title>
		<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
		<link href="css/register.css" rel="stylesheet" type="text/css" />
		<link href="css/item.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="logo_small.png" />
	</head>
	<body>
		<div id="main_container">
			<div id="top_div">
				<div id="name"><img src="logo.png" width="200" height="50"/></div>
				<div id="links"> <span class="link"> Home </span> <span class="link"> Recent </span> <span class="link"> My Items </span><span class="link">Bidded Items </span></div>
			</div>
			<img src="bazaar.png" width="900" height="350" style="margin-left:50px;"/>
			<div id="middle_div">
				<div id="recent_activity">
					<div id="recent_activity_title">
						<form action="searchresult" method="post">
							<span id="search_label" style="font-size:25px;margin-right:10px;">Search</span> 
							<input type="text" style="height:42px; width:700px; font-size:24px;" name="search_input" /> <input type="button" id="search_button" value="Go" class="submit" style="padding-left:20px;padding-right:20px;" />
						</form>
					</div>
				</div>
				<div class="bottom_div">
					<img src="logo.png"	width="200" height="50" id="bottom_div_img" />
					<span id="bottom_div_span"> <a href="index.html" class="bottom_div_link">Home</a> | <a href="aboutus.html"class="bottom_div_link">About Us</a></span>
				</div>
			</div>
		</div>
	</body>
</html>
